.body{
    background-color: #213b52;
    font-family: 'Roboto', sans-serif;
}
/*  Margen del fondo del container  */
.container{
    margin-bottom: 2%;
  }

  /*  NAVBAR */

@media (min-width: 200x){
    .head{
            margin-bottom: 3%;
    }
  
    .carousel-inner{
        margin-top: 4%;
        margin-bottom: 5%;
    }
  }
  
  @media (min-width: 200px){
      .head{
              margin-bottom: 3%;
      }
  
      .carousel-inner{
          margin-top: 4%;
          margin-bottom: 5%;
      }
  }
  
  .form-inline{
    margin-left: 74%;
  }
  
  .dropdown-menu a{
    text-align: center;
  }
  
  .nav-link{
    font-size: 18px;
  }
  
  /* Imagen en la sección de noticias, fechas, torneos*/
  .img-fluida { 
    width: 50%;
  }
  
  @media (min-width: 1020px){
    .navbar{
      height: 70px;
    }
    .navbar-nav.navbar-center {
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
    }
    
  .dropdown-menu a{
    text-align: left;
  }
  
  .img-fluida { 
    width: 40%;
    margin-left: 25%;
  }
  }
  
  /*  centrando el texto de las opciones como paginaciones*/
  .tab-content  .tab-pane p{
    text-align: justify;
  }
  

  /*  SEGMENTO DEL HERO  */
  
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 80vh;
    background: url("../images/keyboar.jpg") center center;
    background-size: cover;
    position: relative;
    margin-top: -80px;
    z-index: 9;
  }
  
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }
  
  #hero h1 {
    color: #FFF;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    font: italic bold 50px Georgia, Serif;
    text-shadow: -4px 3px 0 #34d16e, -14px 7px 0 #0a0e27;
  }
  
  #hero h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    font-weight:35px;
    font-size: 24px;
  }
  
  @-webkit-keyframes animate-loading-notify {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading-notify {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  
  }
  

  /*  SEGMENTO DE LOGOS  */
.logos {
    padding: 0;
  }
  
  .logos .logo-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 120px;
  }
  
  .logos .logo-logo img {
    height: 65px;
  }
  
  .logos .logo-logo:hover img {
    transform: scale(1.2);
  }
  
  .logos img {
    transition: all 0.4s ease-in-out;
  }
  